/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700; 
}
h1 { font-size: 3rem;
     text-align: center;
}

h2 { font-size: 2rem; 
     margin-bottom: 0;
}

h3 { font-size: 1.6rem; }

p  { font-size: 1rem; }

section h2 + p,
section h3 + p,
section h1 + p {
  text-indent: 2rem;
}
